
body {            
    background-image: url("https://drive.google.com/uc?id=1wgJeLDxpvs571z-66N_rIwOCipJgO2_d");
    background-color: black;
    background-repeat: no-repeat;
    background-position: bottom right;
 }

.cardCustom {
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    height: 150px;
    width: 60%;
    
}


.underScore {
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    height: 150px;
    width: 80%;
}



.rightGuess {
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    height: 150px;
    width: 80%;
}



.wrongGuess {
    border: 3px solid white;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    height: 150px;
    width: 80%;
}
